#sectionE {
	background-color: #19202b; 
	border: 3px #3d5af1 solid;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;
	width: 500px;
	margin: auto;
	text-align: center;
}