#section {
	background-color: rgba(25,32,43,0.3); 
	border: 3px #3d5af1 solid;
	border-top: 3px #31a7de solid;
	border-radius: 0px 0px 10px 10px;
	width: 1000px;
	margin: auto;
	text-align: center;
	box-shadow: 6px 6px 12px black;
	text-shadow: none;
	margin-bottom: 40px;
}

#sectionTitre{
	background-color: rgba(61,90,241,0.7);
	border: 3px #3d5af1 solid;
	border-radius: 10px 10px 0px 0px;
	width: 980px;
	padding: 10px;
	margin: auto;
	margin-top: 30px;
	text-align: center;

}

.titreForm {
	font-size: 1.3em;
	font-family: 'Ubuntu-Bold';
	text-shadow: none;
	text-align: center;
	border-bottom: 5px #19202b solid;
	
}


.noGuest {
	font-size: 0.8em;
	font-family: 'Ubuntu-Medium';
	text-shadow: none;
}

.forgotPass {
	font-size: 0.8em;
	font-family: 'Ubuntu-Medium';
	text-shadow: none;
}

.alert-succes{
	display: flex;
	margin: auto;
    flex-wrap: nowrap;
	justify-content: center;
	border: 3px #19202b solid;
	background-color: #24d019;
	box-shadow: 0 4px 2px -2px black;
    margin: 0px;
    padding: 8px;
}

.alert-danger{
	display: flex;
	margin: auto;
    flex-wrap: nowrap;
	justify-content: center;
	border: 3px #19202b solid;
	background-color: #f12222;
	box-shadow: 0 4px 2px -2px black;
    margin: 0px;
    padding: 8px;
}

label
{
	display: block;
	width: 600px;
	float: left;
}

#label0 {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top: 3px #000000 solid;
	background-color: rgba(10, 20, 35, 0.1);
}

#label1 {
	padding-top: 5px;
	padding-left: 5px;
	border-top: 3px #000000 solid;
	background-color: rgba(10, 20, 35, 0.5);
	padding-bottom: 5px;
}

input {
	width: 300px;
}

.form-error {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	margin-top: 20px;
	width: 900px;
	align-items: center;
	justify-content: center;
	vertical-align: center;
	border: 3px #ff6464 solid;
	background-color: rgba(235, 7, 7, 0.5);
}

.form-error-title {
	display: block;
    margin-bottom: 2px;
    line-height: 45px;
	color: #ffafaf;
	font-weight: bold;
	font-size: 1.3em;
	text-shadow: none;
}

li {
	list-style-type: none; 
	margin: 5px;
}

.champ-obligatoire {
	color: #ff1300;
	text-shadow: none;
	font-size: 0.8em;
}

.champ-obligatoire-tip {
	color: #ff1300;
	text-shadow: none;
	font-size: 0.6em;
	margin-left: 850px;
}