#nosOffresTitre {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	font-family: 'Ubuntu-Bold';
	text-shadow: none;
}


#nosOffresForfaitCadre {
	display: flex;
	border: 1px #36527b solid;
	box-shadow: 6px 6px 12px black;
	width: 250px;
	height: 250px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-top: 20px;
	flex-direction: column;

}

.nosOffresForfaitCadre-texteTitre  {
	margin-top: 10px;
	color: #31a7de;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	font-family: 'Ubuntu-Bold';
	text-shadow: none;
}

.nosOffresForfaitCadre-texte  {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
	font-family: 'Ubuntu-Light';
	padding: 10px;
	text-align: center;
	text-shadow: none;
}