.element-logo {
	position: absolute;
	top: 0;
	left: 5px;
	
}


.element-logo2 {
	position: absolute;
	top: 0;
	left: 47px;
	
}


#menuHaut

{
  display: flex;
	margin: auto;
  flex-wrap: nowrap;
	justify-content: center;
	border: 3px #19202b solid;
	background-image: url(../../img/nav-bg.jpg);
	box-shadow: 0 4px 2px -2px black;
  padding-bottom: 35px;
  padding-top: 10px;

}



#sousMenuHaut

{
    display: flex;
	margin: auto;
    flex-wrap: nowrap;
	justify-content: center;
	border: 3px #19202b solid;
	background-image: url(../../img/nav-bottom-bg.png);
	box-shadow: 0 4px 2px -2px black;
    margin: 0px;
    padding: 8px;

}

.element-menuHaut {
		padding: 10px;
    margin: 0;
}

.element-deconnect {
    padding: 10px;
    margin: 0;
}

.element-sousMenuHaut {
		padding-right: 15px;
}

.button {
  display: inline-block;
  border-radius: 3px;
  background-color: #31a7de;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 3px;
  position: absolute;
  right: 10px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button-deco {
  display: inline-block;
  border-radius: 3px;
  background-color: #045585;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 3px;
  position: absolute;
  top: 50px;
  right: 10px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
}

.button-deco span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-deco span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button-deco:hover span {
  padding-right: 20px;
}

.button-deco:hover span:after {
  opacity: 1;
  right: 0;
}

.alert-succes{
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: center;
  border: 3px #19202b solid;
  background-color: #24d019;
  box-shadow: 0 4px 2px -2px black;
  margin: 0px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0;
}

.alert-danger{
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: center;
  border: 3px #19202b solid;
  background-color: #f12222;
  box-shadow: 0 4px 2px -2px black;
  margin: 0px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0;
}