@font-face {
     font-family: 'CaviarDreams';
     src: url('./fonts/CaviarDreams.ttf');
}

body {
	background-image: url("../../img/background.jpg");
	font-family : 'CaviarDreams';
	color: #ffffff;
}

#conteneur

{
    display: flex;
	margin: auto;
    flex-wrap: nowrap;
	justify-content: center;

}

.element {
		
}