
@font-face {
     font-family: 'Montserrat';
     src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

body {
	background-image: url("../../img/backgroundtest.png");
	background-color: #0A1423;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family : 'Montserrat';
	font-size: 1.3em;
	color: #ffffff;
	text-shadow: 2px 2px 4px #ffffff;
    margin: 0px;
    padding: 0px;
}
.element-logo {
	position: absolute;
	top: 0;
	left: 5px;
	
}

.element-logo2 {
	position: absolute;
	top: 0;
	left: 70px;
	
}


#menuHaut

{
    display: flex;
	margin: auto;
    flex-wrap: nowrap;
	justify-content: center;
	border: 3px #19202b solid;
	background-image: url(../../img/nav-bg.jpg);
	box-shadow: 0 4px 2px -2px black;
    margin: 0px;
    padding: 15px;

}

#sousMenuHaut

{
    display: flex;
	margin: auto;
    flex-wrap: nowrap;
	justify-content: center;
	border: 3px #19202b solid;
	background-image: url(../../img/nav-bottom-bg.png);
	box-shadow: 0 4px 2px -2px black;
    margin: 0px;
    padding: 8px;

}


a {
     text-decoration: none;
     color: #ffffff;
}

a#basLien:hover {
	 text-decoration: none;
     color: #ffffff;
	 border-bottom: 5px #8acbff solid;

}
 a:hover {
     text-decoration: none;
     color: #ffffff;
	 border-bottom: 5px #354FD3 solid;
	 
}

 a:visited {
     text-decoration: none;
     color: #ffffff;
}

.element-menuHaut {
		padding: 10px;
		margin: 0;
}

.element-sousMenuHaut {
		padding-right: 15px;
}
