@font-face {
     font-family: 'Montserrat';
     src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

body {
	background-image: url("../../img/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family : 'Montserrat';
	color: #ffffff;
	text-shadow: 2px 2px 4px #ffffff;
}

#nav, #nav ul {
padding: 0;
margin: 0;
list-style: none;
}

#nav a {
display: block;
width: 15em;
padding: 2px;
}

#nav li {
float: left;
text-align: center;
width: 12em;
}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

#nav li:hover ul {
	left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}

#menuHaut

{
    display: flex;
	margin: auto;
    flex-wrap: nowrap;
	justify-content: center;
	border: 3px #112537 solid;
	background-color: rgba(33,78,118,0.7);
	box-shadow: 0 4px 2px -2px black;
	border-radius: 10px 5px 10px 5px;
	padding: 15px;
	margin-bottom: 10px;

}

a {
     text-decoration: none;
     color: #ffffff;
	 width: 24%;
}

 a:hover {
     text-decoration: none;
     color: #ffffff;
	 background-color: #112537;
}

 a:visited {
     text-decoration: none;
     color: #ffffff;
}

.element-menuHaut {
		padding: 5px;
}